<h1>Add A Recipe</h1>
<%= form_for @recipe do |f| %>
		
	<div class="left_container">
		<%= f.label :name %><br />
		<%= f.text_field :name %><br />
			
		<%= f.label :ingredients %><br />
		<%= f.fields_for :ingredients do |builder| %>
		  <%= render 'ingredient_fields', f: builder %>
		<% end %>
		<p><%= link_to_add_ingredients "Add Ingredient", f, :ingredients %></p>
	</div>
		
	<div class="right_container">
		<%= f.label :description %><br />
		<%= f.text_area :description %><br />
	
		<%= f.label :instructions %><br />
		<%= f.text_area :instructions %><br />
			
		<%= f.submit "Submit" %>
	</div>

<% end %>