<h1><%= @recipe.name %></h1>
<h2><%= @recipe.description %></h2>
<p>Ingredients:</p>
<% @recipe.ingredients.each do |ingredient| %>
	<li>
		<% @inclusion = Inclusion.where(recipe_id: @recipe.id, 
																		ingredient_id: ingredient.id).first %>
		<%= ingredient.name %> - <%= @inclusion.amount %>
	</li>
<% end %>
<hr />
<p><%= raw @recipe.instructions %></p>
<% if (current_user && @recipe.user_id == current_user.id) || current_user.admin %>
	<%= link_to "edit", edit_recipe_path %>
<% end %>